<div class="matchSettings">
  <div class="matchSettings matchSettings__main">
    <div class="matchSettings matchSettings__chooseTeams">
      <div class="chooseHomeTeam">
        <input type="text" name="chooseHomeTeam" [value]="" placeholder="Choose home team" [(ngModel)]="homeTeamName">
      </div>
      <div class="chooseAwayTeam">
        <input type="text" name="chooseAwayTeam" [value]="" placeholder="Choose away team" [(ngModel)]="awayTeamName">
      </div>
    </div>
    <div class="matchSettings matchSettings__secondLeg">
      <div class="isSecondLeg">
        <label for="isSecondLeg">2nd leg of Home & Away match?</label>
        <input type="checkbox" name="isSecondLeg" id="isSecondLeg" [checked]="isSecondLeg" (change)="onChangeSecondLeg($event)">
      </div>
      <div class="firstLegGoalsSetter">
        <div class="homeTeam1stLegGoals">
          <label for="homeTeam1stLegGoals">
            <span *ngIf="!(homeTeamName == undefined || homeTeamName == '')">{{homeTeamName}}</span> <span *ngIf="(homeTeamName == undefined || homeTeamName == '')">Hosts'</span> 1st leg goals</label>
          <input type="number" name="homeTeam1stLegGoals" id="homeTeam1stLegGoals" min="0" [disabled]="!isSecondLeg" (change)="onChangeHomeTeam1stLegGoals($event)">
        </div>
        <div class="awayTeam1stLegGoals">
          <input type="number" name="awayTeam1stLegGoals" id="awayTeam1stLegGoals" min="0" [disabled]="!isSecondLeg" (change)="onChangeAwayTeam1stLegGoals($event)">
          <label for="awayTeam1stLegGoals">
            <span *ngIf="!(awayTeamName == undefined || awayTeamName == '')">{{awayTeamName}}</span> <span *ngIf="(awayTeamName == undefined || awayTeamName == '')">Visitors'</span> 1st leg goals</label>
        </div>
      </div>
    </div>
    <div class="relativeStrength">
      <label for="relativeStrength">Teams' relative strength</label>
      <select id="relativeStrength" class="" name="relativeStrength" [disabled]="" [(ngModel)]="relativeStrength">
        <option [ngValue]="" *ngFor="let relativeStrength of relativeStrengths">{{relativeStrength}}</option>
      </select>
    </div>
    <div class="homeCrowdSupport">
      <label for="crowdSupport">Home crowd support</label>
      <select id="crowdSupport" class="" name="homeCrowdSupport" [(ngModel)]="homeCrowdSupport">
        <option [ngValue]="" *ngFor="let homeCrowdSupport of homeCrowdSupports">{{homeCrowdSupport}}</option>
      </select>
    </div>
  </div>
  <div class="matchSettings matchSettings__other">
    <div class="homeTeamSettings">
      <div class="homeTeamMorale">
        <label for="homeTeamMorale">Hosts' Motivation & Morale</label>
        <select id="homeTeamMorale" class="" name="homeTeamMorale" [(ngModel)]="homeTeamMorale">
          <option [ngValue]="" *ngFor="let motivation of motivations">{{motivation}}</option>
        </select>
      </div>
      <div class="homeTeamTactics">
        <label for="homeTeamTactics">Home Team Tactics</label>
        <select id="homeTeamTactics" class="" name="homeTeamTactics" [(ngModel)]="homeTeamTactics">
          <option [ngValue]="" *ngFor="let tactic of tactics">{{tactic}}</option>
        </select>
      </div>
    </div>
    <div class="awayTeamSettings">
      <div class="awayTeamMorale">
        <label for="awayTeamMorale">Visitors' Motivation & Morale</label>
        <select id="awayTeamMorale" class="" name="awayTeamMorale" [(ngModel)]="awayTeamMorale">
          <option [ngValue]="" *ngFor="let motivation of motivations">{{motivation}}</option>
        </select>
      </div>
      <div class="awayTeamTactics">
        <label for="awayTeamTactics">Away Team Tactics</label>
        <select id="awayTeamTactics" class="" name="awayTeamTactics" [(ngModel)]="awayTeamTactics">>
          <option [ngValue]="" *ngFor="let tactic of tactics">{{tactic}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
