.firstLegGoalsSetter {
  display: inherit;
  margin: 1rem auto;
}
.firstLegGoalsSetter__awayTeam1stLegGoals  {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.firstLegGoalsSetter__homeTeam1stLegGoals  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.firstLegGoalsSetter div  {
  text-align: center;
  display: flex;
}

input#homeTeam1stLegGoals {
    color: #333;
}
input#awayTeam1stLegGoals {
    color: #333;
}

.isSecondLeg {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}

.matchSettings {
  /*padding: 2rem;*/
}
.matchSettings__chooseTeams {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
  padding: 0rem;
  width: 100%;
  flex-wrap: wrap;
}
.matchSettings__chooseTournament {
  margin: 0.5rem;
}
.matchSettings__proceedToMatch {
  margin: 0 auto;
  display: block;
}
.matchSettings select {
  flex-wrap: wrap;
}
.matchSettings label {
  margin: 1rem 0rem 0rem 0rem;
}

.matchSettings__main {
  /*border: 1px solid #673AB7;*/
  display: flex;
  justify-content: space-around;
}
.matchSettings__other, .matchSettings__main {
  margin: 0.5rem;
  flex-wrap: wrap;
}

.matchSettings__other {
    display: flex;
    justify-content: space-around;
}
.matchSettings__secondLeg {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: 0.5rem;
    padding: 1rem;
    flex-wrap: wrap;
}
.matchSettings__secondLeg input {
  width: auto;
  max-width: 5rem;
  margin: 0 0.5rem;
}
.matchSettings__secondLeg label {
  margin: 0;
}
.matchSettings__secondLeg #isSecondLeg {
    width: 2rem;
    height: 2rem;
}


@media all and (max-width: 640px) {
  input {
  }
  .matchSettings__other, .matchSettings__main {
    justify-content: center;
  }
  .matchSettings__secondLeg #isSecondLeg {
      width: 30px;
      height: 30px;
  }
}
