<div class="scoreboard" [style.display] = "matchHasStarted ? 'flex' : 'none'">
  <div class="scoreboard__matchMetaRow">

  </div>
  <div class="scoreboard__mainRow">
    <div class="homeTeamZone">
      <div class="homeTeamName scoreboard__homeTeamName">
        {{homeTeamName}}
        <ul class="homeTeamScorers scoreboard__homeTeamScorers">
          <li *ngFor="let homeTeamGoalObject of homeTeamGoalObjects" class="scorer">{{homeTeamGoalObject.name}} {{homeTeamGoalObject.goalTime}}'</li>
          <li class="sentOff" *ngFor="let homeTeamSentOff of homeTeamRedObjects">
            <img src="../../assets/img/redcard.png" class="redCard" alt=""> {{homeTeamSentOff.name}} {{homeTeamSentOff.redCardTime}}'
          </li>
        </ul>
      </div>
    </div>
    <div class="scoreZone">
      <div class="currentMatchScore scoreboard__currentMatchScore">
        {{homeTeamGoals}}-{{awayTeamGoals}}
      </div>
      <div class="aggregateScore scoreboard__aggregateScore" *ngIf="(homeTeam1stLegGoals != undefined && awayTeam1stLegGoals != undefined && matchStatus != matchStatuses[3] && matchStatus != matchStatuses[4])">
        agg: {{totalHomeTeamGoals}}:{{totalAwayTeamGoals}}
      </div>
      <div class="currentMatchTime scoreboard__currentMatchTime" >
        {{matchMinutes}}'
      </div>
      <div class="kickOffButton scoreboard__kickOffButton" *ngIf="matchStatus == matchStatuses[4]">
        <button type="button" name="kickoff" (click)="startMatch()">Kick off</button>
      </div>
      <div class="matchStatus">
        {{matchStatus}}
      </div>
      <p class="aggregateStatus" *ngIf="matchStatus == matchStatuses[3] && homeTeam1stLegGoals != undefined && awayTeam1stLegGoals != undefined">{{aggregateStatus}}</p>
    </div>
    <div class="awayTeamZone">
      <div class="awayTeamName scoreboard__awayTeamName">
        {{awayTeamName}}
        <ul class="awayTeamScorers scoreboard__awayTeamScorers">
          <li *ngFor="let awayTeamGoalObject of awayTeamGoalObjects" class="scorer">{{awayTeamGoalObject.name}} {{awayTeamGoalObject.goalTime}}'</li>
          <li class="sentOff" *ngFor="let awayTeamSentOff of awayTeamRedObjects">
            {{awayTeamSentOff.name}} {{awayTeamSentOff.redCardTime}}' <img src="../../assets/img/redcard.png" class="redCard" alt="">
          </li>
        </ul>
      </div>

    </div>
  </div>
  <app-stats style="margin-top: 3em; width:100%;">

  </app-stats>
</div>
