ul.awayTeamScorers {
  padding-left: initial;
  margin-top: 0.5em;
  font-weight: normal;
}
ul.homeTeamScorers {
  margin-top: 0.5em;
  font-weight: normal;
  padding: 0;
}
.aggregateStatus {
  font-size: small;
  text-align: center;
}
p.aggregateStatus {
  padding: 0.5rem;
}
.awayTeamScorers {
  display: flex;
  flex-direction: column;
}
.awayTeamScorers li {
  list-style-type: none;
  font-size: small;
}
.awayTeamLogo {
  /*flex-basis: 40%;*/
  display: flex;
  justify-content: flex-start;
  padding-right: 1em;
}
.awayTeamName {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
.awayTeamZone{
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  font-size: large;
  align-self: flex-start;
}
.homeTeamLogo {
  /*flex-basis: 40%;*/
  display: flex;
  justify-content: flex-end;
  padding-left: 1em;
}
.homeTeamName {
  display: flex;
  flex-basis: 60%;
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
.homeTeamScorers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.homeTeamScorers li {
  list-style-type: none;
  font-size: small;
}
.homeTeamZone{
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  font-size: large;
}
.matchLocation {
  text-align: center;
}
.matchStatus {
    font-size: small;
    /*margin-top: 0.5em;*/
    text-align: center;
}
.matchTimeAndAggregate {
  flex-basis: 20%;
}
.nameAndLogoHome {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nameAndLogoAway {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.redCard {
  width: 16px;
  height: 16px;
}
.scoreboard {
  background-image: url('../../assets/img/ucl_background.jpg');
  padding: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 1px 0px rgba(128, 128, 128, 0.5);
  min-height: 25rem;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100%;
  background-size: cover;
}
.scoreboard__mainRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.scoreboard__matchMetaRow {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.scoreboard__aggregateScore {
  display: flex;
  justify-content: center;
  font-size: small;
  color: white;
}
.scoreboard__currentMatchTime {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
}
.scoreboard__kickOffButton {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
  font-size: 14px;
}

.scoreboard__currentMatchScore {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: white;
}

.scoreboard__scorersAndAggregateRow {
  display: flex;
  width: 100%;
  justify-content: center;
}

.scorersHome {
    min-height: 4em;
    display: flex;
    flex-basis: 40%;
    justify-content: flex-end;
}
.scorersAway {
    min-height: 4em;
    display: flex;
    flex-basis: 40%;
}

.scoreZone {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  font-size: large;
  align-items: center;
}
.tournamentName {
  text-align: center;
}


@media screen and (max-width: 768px) {
  .awayTeamName, .homeTeamName, .scoreboard__currentMatchScore {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .homeTeamLogo, .awayTeamLogo {
    display:none;
  }
  .awayTeamName {
    flex-basis: 100%;
  }
  .homeTeamName {
    flex-basis: 100%;
  }
}
