/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;

  border: none;
  padding: 0.5em;
}
body {
  background-color: rgba(158, 158, 158, 0.10);
  background-image: url('/assets/img/stadium.jpeg');
  background-position: top center;
  font-family: Roboto;
}
p, label, div, h1, h2, h3, h4, h5, h6 {
  color: whitesmoke;
  display: block;
}
label {
  font-size: small;
  font-weight: 400;
}
input[type=text] {
  min-width: 20em;
  min-height: 3em;
  border: none;
  color: #333;
  padding: 0.5em;
  margin: 0.5em;
  /*border: 1px solid grey;*/
  text-align: center;
  /*box-shadow: inset 0px 0px 2px 1px #444;*/
  /*border-radius: 3px;*/
}
select {
  color: initial;
  min-width: 20em;
  min-height: 3em;
}
